@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family:'Android' ;
    src: url(fonte/Android.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    
}
header{
    background-image: url(imagens/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:  50px;
    color: white;
}
header > h1{
    font-family: 'Android';
    text-align: center;
    font-size: 3em;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
}
header > p{
    text-align: center;
    font-family: 'Share tech Mono';
}
nav{
    background-image: linear-gradient(to right, #0c3372,#01102D);
    padding: 10px;
}

nav > a{
    text-decoration: none;
    padding-left: 10px;
    color: white;
    font-family: 'Share tech Mono';
}