@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagens/foto01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    padding: 20px;
    background-color: gray;
    
}